body {
    background-color: #F8F8F8;
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, Aria, sans-serif;
}

body #container {
    max-width: 1000px;
    width: 1000px;
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}